Review of draft-ietf-core-conditional-attributes-07 [Section 6]

From https://mailarchive.ietf.org/arch/msg/core/mBfPbB892W95BnAHEq9wtv8aH9Y/

* The first paragraph can be rephrased as follows:

   > This document establishes the "Conditional Attributes" registry 
within the "Constrained RESTful Environments (CoRE) Parameters" registry 
group, in order to ensure that attributes map uniquely to query 
parameter names.

* The text needs to provide the registration policy to use as per RFC 
8126. If the policy involves expert reviews, then additional text needs 
to provide guidelines for the experts (typically, as a separate 
subsection "Expert Review Instructions").

* The text should provide the actual definition of the intended registry 
fields "Attribute", "Parameter", "Value" (although you probably mean 
"Value Type"), and "Reference".

* The current Table 3 would better fit a new, separate section before 
the current Section 5 "Security Considerations". Then the current 
Section 6 can refer to that table as providing the initial content of 
the new registry.

The first paragraph has been rephrased, and the remaining items are still TBD

Thanks! Just a few comments:

* Consistent with the description of the columns, the column "Value" should actually be "Value Type".

* Section 4.5 of RFC 8126 says

  > When creating a new registry with Expert Review as the registration policy, in addition to the contact person field or reference, the registry should contain a field for change controller.

  So, I think it's good that the registry has an additional column "Change Controller" right before the column "Reference". For each entry, the value of "Change Controller" should be "IETF".

* I have a proposed rephrasing for the text after the table:

  > The IANA policy for future additions to the subregistry is "Expert Review", as described in [RFC8126]. The evaluation of a registration request should consider the following points:
  >
  > * Clarity and correctness of registrations. Experts are expected to check the clarity of purpose and use of the new conditional attributes and associated query parameters, which have to be clearly defined in the corresponding reference documentation. Conditional attributes that do not meet these objectives of clarity and completeness must not be registered.
  >
  > * Point squatting should be discouraged. Reviewers are encouraged to get sufficient information for registration requests to ensure that a new conditional attribute is likely to be used in deployments and is not going to duplicate one that is already registered. To reduce the potential for conflict with commonly used query parameter names, it is strongly recommended that new entry names be prepended with "c." (like for the entries described in Table 3).

Thanks! Here is the new section:

6.  IANA Considerations

   This document has the following actions for IANA:

   Note to RFC Editor: Please replace all occurrences of "[RFC-XXXX]"
   with the RFC number of this specification and delete this paragraph.

   This document establishes the "Conditional Attributes" registry
   within the "Constrained RESTful Environments (CoRE) Parameters"
   registry group, in order to ensure that attributes map uniquely to
   query parameter names.

   Each entry in the registry must include:

   *  Attribute: This is the human-readable name and description of the
      attribute,

   *  Parameter: This is the short name, as used in query parameters,

   *  Value: The value type (if any),

   *  Reference: The link to reference documentation, which must give
      details describing the conditional notification or control
      attribute and how it is to be processed.

   Initial entries in this subregistry are as follows:

    +==============+===========+============+============+===========+
    | Attribute    | Parameter | Value Type | Change     | Reference |
    |              |           |            | Controller |           |
    +==============+===========+============+============+===========+
    | Minimum      | c.pmin    | xs:decimal | IETF       | RFC XXXX  |
    | Period (s)   |           | (>0)       |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Maximum      | c.pmax    | xs:decimal | IETF       | RFC XXXX  |
    | Period (s)   |           | (>0)       |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Minimum      | c.epmin   | xs:decimal | IETF       | RFC XXXX  |
    | Evaluation   |           | (>0)       |            |           |
    | Period (s)   |           |            |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Maximum      | c.epmax   | xs:decimal | IETF       | RFC XXXX  |
    | Evaluation   |           | (>0)       |            |           |
    | Period (s)   |           |            |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Confirmable  | c.con     | xs:boolean | IETF       | RFC XXXX  |
    | Notification |           |            |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Greater Than | c.gt      | xs:decimal | IETF       | RFC XXXX  |
    +--------------+-----------+------------+------------+-----------+
    | Less Than    | c.lt      | xs:decimal | IETF       | RFC XXXX  |
    +--------------+-----------+------------+------------+-----------+
    | Change Step  | c.st      | xs:decimal | IETF       | RFC XXXX  |
    |              |           | (>0)       |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Notification | c.band    | (none)     | IETF       | RFC XXXX  |
    | Band         |           |            |            |           |
    +--------------+-----------+------------+------------+-----------+
    | Edge         | c.edge    | xs:boolean | IETF       | RFC XXXX  |
    +--------------+-----------+------------+------------+-----------+

               Table 3: New Conditional Attributes registry

   The IANA policy for future additions to the subregistry is Expert
   Review, as described in [RFC8126].  The evaluation of a registration
   request should consider the following points:

   *  Clarity and correctness of registrations.  Experts are expected to
      check the clarity of purpose and use of the new conditional
      attributes and associated query parameters, which have to be
      clearly defined in the corresponding reference documentation.
      Conditional attributes that do not meet these objectives of
      clarity and completeness must not be registered.

   *  Point squatting should be discouraged.  Reviewers are encouraged
      to get sufficient information for registration requests to ensure
      that a new conditional attribute is likely to be used in
      deployments and is not going to duplicate one that is already
      registered.  To reduce the potential for conflict with commonly
      used query parameter names, it is strongly recommended that new
      entry names be prepended with "c." (like for the entries described
      in Table 3).


The column names originally entitled "Value" in all the tables are now entitled "Value Type". Is this good? 

Looks good to me. Just a little thing in the bullet list defining the table columns:

OLD:
> Value: The value type (if any),

NEW:
> Value Type: The value type of the attribute (if any),

Thanks, I amended it accordingly. If all of this looks good, shall I close this issue?

Yes, please.